:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "DOS-V_TWN16";
  src: url("../assets/Web437_DOS-V_TWN16.woff");
}

@font-face {
  font-family: "Cozette";
  src: url("../assets/CozetteVector.woff");
}

@font-face {
  font-family: "Terminus";
  src: url("../assets/VecTerminus16Medium.woff");
}

@font-face {
  font-family: "3270font";
  src: url("../assets/3270Condensed-Regular.woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
