:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "DOS-V_TWN16";
  src: url("@assets/Web437_DOS-V_TWN16.woff");
}

@font-face {
  font-family: "Cozette";
  src: url("@assets/CozetteVector.woff");
}

@font-face {
  font-family: "Terminus";
  src: url("@assets/VecTerminus16Medium.woff");
}

@font-face {
  font-family: "3270font";
  src: url("@assets/3270Condensed-Regular.woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
svg,
canvas {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* TODO: this stuff should prob be in the webbrower stylesheet */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
